section {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &.sec-8 {
    background-image: url('./images/woman2.jpg');
    background-attachment: fixed;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 700vh;

    .box {
      position: absolute;
      min-height: 100vh;
      z-index: 2;
      padding: 30px;
      width: 670px;
      font-size: 18px;
      text-align: left;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      left: 0;
      color: #dfdfdf;
      background: #000000bf;
      font-weight: 300;

      // background-image: -webkit-gradient(
      //   linear,
      //   left top,
      //   left bottom,
      //   color-stop(0, rgba(25, 10, 10, 0.6)),
      //   color-stop(1, #190000)
      // );

      h4 {
        padding: 70px 0 0 37px;
        color: #ab9845;
      }

      span {
        font-size: 40px;
      }

      p {
        text-align: left;
        padding: 40px;
        line-height: 1.8;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 15px;
      }
    }

    .img-fxx {
      min-height: 100vh;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      position: absolute;

      &.one {
        top: 0%;
      }

      &.two {
        top: 18%;
        background: rgba(0, 0, 0, 0.2);
      }

      &.three {
        top: 40%;
        background: rgba(0, 0, 0, 0.2);
      }

      &.four {
        top: 66%;
        min-height: 100vh;
      }
    }
  }
}
