section {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &.sec-8 {
    background-image: url('./images/woman2.jpg');
    background-attachment: fixed;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 400vh;

    .scroll-trigger {
      position: absolute;
      top: 0%;
      width: 50px;
    }

    .scroll-trigger2 {
      position: absolute;
      top: 10%;
      width: 50px;
    }

    .scroll-trigger3 {
      position: absolute;
      top: 20%;
      width: 50px;
    }

    .scroll-trigger4 {
      position: absolute;
      top: 30%;
      width: 50px;
    }
    .scroll-trigger5 {
      position: absolute;
      top: 40%;
      width: 50px;
    }
    .scroll-trigger6 {
      position: absolute;
      top: 50%;
      width: 50px;
    }
    .scroll-trigger7 {
      position: absolute;
      top: 60%;
      width: 50px;
    }
    .scroll-trigger8 {
      position: absolute;
      top: 70%;
      width: 50px;
    }

    .frame-box {
      position: fixed;
      top: 20%;
      left: 45%;
      width: 400px;
      height: 300px;

      #img111 {
        position: absolute;
        top: 30%;
        left: 20%;
      }

      #img222 {
        position: absolute;
        top: 30%;
        left: 20%;
      }

      #img333 {
        position: absolute;
        top: 30%;
        left: 20%;
      }

      #img333 {
        position: absolute;
        top: 30%;
        left: 20%;
      }

      #img444 {
        position: absolute;
        top: 30%;
        left: 20%;
      }
      #img555 {
        position: absolute;
        top: 30%;
        left: 20%;
      }
      #img666 {
        position: absolute;
        top: 30%;
        left: 20%;
      }
      #img777 {
        position: absolute;
        top: 30%;
        left: 20%;
      }
      #img888 {
        position: absolute;
        top: 30%;
        left: 20%;
      }
    }

    .box {
      position: absolute;
      min-height: 100vh;
      z-index: 2;
      padding: 10px;
      width: 675px;
      font-size: 18px;
      text-align: left;
      top: 0;
      left: 0;
      color: #dfdfdf;
      background: #000000bf;
      font-weight: 300;
      margin: 0% 4% 0% 4%;

      h3 {
        padding: 90px 0px 50px 0px;
        margin-left: 40px;
        font-size: 40px;
        color: #ab9548;
        text-transform: uppercase;
      }

      h4 {
        margin-left: 40px;
        font-size: 30px;
        color: #ab9548;
        text-transform: uppercase;
      }

      p {
        text-align: left;
        padding: 10px 40px 40px 40px;
        line-height: 1.8;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 15px;
      }

      // h3 {
      //   color: #ab9845;
      //   font-size: 40px;
      //   padding: 70px 0 80px 37px;
      // }

      // h4 {
      //   padding: 0px 0 0 37px;
      //   color: #ab9845;
      //   font-size: 30px;
      // }

      // p {
      //   text-align: left;
      //   padding: 40px;
      //   line-height: 1.8;
      //   font-size: 18px;
      //   font-weight: 300;
      //   margin-bottom: 15px;
      // }
    }
  }
}
