section {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &.sec-6 {
    position: relative;
    color: rgb(252, 252, 252);
    // background: url('./images/23_mini.jpg');
    background: #ab9548;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 320vh;
    display: flex;

    .trigger-6-1 {
      position: absolute;
      top: 0%;
      left: 0;
      width: 200px;
      // border-bottom: 3px solid red;
    }

    .trigger-6-2 {
      position: absolute;
      top: 16%;
      left: 0;
      width: 200px;
      // border-bottom: 3px solid rgb(4, 7, 33);
    }

    .trigger-6-3 {
      position: absolute;
      top: 32%;
      left: 0;
      width: 200px;
      // border-bottom: 3px solid rgb(140, 5, 167);
    }

    .trigger-6-4 {
      position: absolute;
      top: 38%;
      left: 0;
      width: 200px;
    }

    .box-right {
      top: 8%;
      left: 60%;
      position: fixed;
      height: 700px;
      width: 700px;
      -webkit-box-flex: 1;
      flex: 1;
      font-size: 30px;
      background-repeat: no-repeat;

      img {
        width: auto;
        top: 0%;
        left: 20%;
        position: absolute;

        &:nth-child(1) {
          width: auto;
          top: 0%;
          left: 0%;
        }
        &:nth-child(2) {
          top: 20%;
          left: -1%;
        }
        &:nth-child(3) {
          top: 20%;
          left: 36%;
        }
        &:nth-child(4) {
          top: 50%;
          left: 0%;
        }
        &:nth-child(5) {
          top: 75%;
          left: 0%;
        }
        &:nth-child(6) {
          top: 0%;
          left: 9%;
        }
        &:nth-child(7) {
          top: 20%;
          left: 27px;
        }
        &:nth-child(8) {
          top: 50%;
          left: -12px;
        }
        &:nth-child(9) {
          top: 50%;
          left: 35%;
        }
        &:nth-child(10) {
          top: 75%;
          left: 14%;
        }
      }
    }

    .box {
      max-width: 675px;
      font-weight: 300;
      top: 0%;
      left: 0%;
      padding: 10px;
      background: #000000bf;
      opacity: 1;
      margin: 0% 4% 0% 4%;
      flex: 1;
      position: absolute;

      h3 {
        padding: 90px 0px 0px 0px;
        margin-left: 40px;
        font-size: 40px;
        color: #ab9548;
        text-transform: uppercase;
      }

      h4 {
        margin-left: 40px;
        font-size: 30px;
        color: #ab9548;
        text-transform: uppercase;
      }

      p {
        text-align: left;
        padding: 10px 40px 40px 40px;
        line-height: 1.8;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 15px;
      }
    }
  }
}
