section {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &.sec-4 {
    background: url('./images/pa-13.jpg');
    background-position: top center;
    min-height: 120vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .join3 {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }

    img:nth-of-type(1) {
      width: 50%;
    }

    img:nth-of-type(2) {
      width: 87%;
      right: 5%;
    }

    img:nth-of-type(3) {
      width: 87%;
      right: 65%;
    }

    .text {
      color: #dfdfdf;
      font-size: 52px;
      position: absolute;

      &.el {
        left: 20%;
        top: 10%;
      }

      &.el2 {
        right: 20%;
        top: 45%;
      }

      &.el3 {
        top: 75%;
        right: 20%;
      }
    }

    .title {
      position: absolute;
      top: 23%;
      right: 10%;
      font-size: 4em;
      color: rgb(23, 7, 23);
      text-shadow: 2px 2px 2px #3c3732;

      &.com-1 {
        top: 10%;
        left: 5%;

        & #yesterday {
          left: 29%;
          top: 44%;
          position: absolute;
        }
      }

      &.com-2 {
        top: 31%;
        right: -17%;

        & #today {
          left: 29%;
          top: 44%;
          position: absolute;
        }
      }

      &.com-3 {
        top: 58% !important;
        left: 23%;

        & #tomorrow {
          left: -18%;
          top: 85%;
          position: absolute;
        }
      }
    }

    h1 {
      color: #ffffffd6;
      font-size: 56px;
      text-shadow: 2px 3px 2px rgba(1, 1, 1, 0.8);
    }
  }
}
