section {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &.sec11 {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      height: -webkit-fill-available;
    }
  }
}


@media (max-width: 670px){

  .sec11{
  min-height: 100% !important;
  }

  iframe{
    position: static!important;
    top: 0!important;
    left: 0!important;
    min-height:100vw!important;
    width: 360px!important;
  }
}