section {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;

  &.sec-5 {
    background: url('./images/pa-35.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.8s linear;
    min-height: 240vh;

    .scroll-trigger-5-1 {
      position: absolute;
      top: 5%;
      left: 0;
      width: 200px;
      // border-bottom: 4px solid red;
    }

    .scroll-trigger-5-2 {
      position: absolute;
      bottom: 5%;
      left: 0;
      width: 200px;
      // border-bottom: 4px solid rgb(170, 252, 5);
    }

    .center-wrapper {
      display: flex;
      justify-content: space-evenly;
      width: 100%;

      & img{
        // border:2px solid red;
        position: absolute;
        left: 0%;
        top: 0;
        width: 500px;

        &#imgOne {
        top: 7%;
        left: 13%;
        }

        &#imgTwo {
          top: 21%;
          left: 13%;
        }

        &#imgThree {
          top: 35%;
         left: 13%;
        }
        &#imgFour {
          top: 49%;
          left: 13%;
        }
        &#imgFive {
          top:61%;
          left: 13%;
        }
        &#imgSix {
          top: 76%;
          left: 13%;
        }
      }
      // .box-left-img {
      //   padding-right: 40px;
      //   top: 0;
      //   left: 0%;
      //   flex: 1;

      //   .s-mini {
      //   position: relative;
      //   object-fit: contain;
      //   width: 500px;
      //   z-index: 2;
      //   padding-bottom: 20px;
      //   }

      //   #imgOne {
      //     top: 5%;
      //     left: 0%;
      //   }

      //   #imgTwo {
      //     top: 0%;
      //     left: 0%;
      //   }

      //   #imgThree {
      //     top: 7%;
      //     left: 0%;
      //   }
      //   #imgFour {
      //     top: 8%;
      //     left: 0%;
      //   }
      //   #imgFive {
      //     top: 9%;
      //     left: 0%;
      //   }
      //   #imgSix {
      //     top: 10%;
      //     left: 0%;
        
      //   }
      // }

      .title-5 {
        flex: 2;
        top: 17%;
        z-index: 2;
        background-repeat: no-repeat;
        max-width: 670px;
        // right: 9%;
        padding: 10px;
        background: #000000bf;
        text-align: left;
        margin-left: auto;
         margin-right: 11%;

        h3 {
          padding: 90px 0px 50px 0px;
          margin-left: 40px;
          font-size: 45px;
          color: #ab9548;
          text-transform: uppercase;
        }

        h4 {
          margin-left: 40px;
          font-size: 30px;
          color: #ab9548;
          text-transform: uppercase;
        }

        p {
          text-align: left;
          padding: 10px 40px 40px 40px;
          line-height: 1.8;
          font-size: 18px;
          font-weight: 300;
          margin-bottom: 15px;
        }
      }
    }
  }
}


@media (max-width: 670px){
  .center-wrapper img{
    position: unset!important;
    width: 100%!important;
    padding-bottom: 50px;
  }

  .sec-5 .bot{
    // margin: 0px auto!important;
    // width: 400px;
    padding: 7px !important;
  }

  .box-left-img{
      position: absolute!important;
  }

  .title-5{
     margin-right:0!important;
  }

}