section {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &.sec-5 {
    width: 100%;
    background: url('./images/pa-35.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    transition: all 0.8s linear;
    min-height: 200vh;

    .scroll-trigger-5-1 {
      position: absolute;
      top: 15%;
      width: 200px;
    }

    .scroll-trigger-5-2 {
      position: absolute;
      top: 30%;
      width: 200px;
    }

    .title-5 {
      top: 17%;
      position: absolute;
      z-index: 2;
      background-repeat: no-repeat;
      max-width: 670px;
      position: absolute;
      top: 0;
      right: 4%;
      max-width: 675px;
      padding: 10px;
      background: #000000bf;
      text-align: left;

      h3 {
        padding: 90px 0px 50px 0px;
        margin-left: 40px;
        font-size: 45px;
        color: #ab9548;
        text-transform: uppercase;
      }

      h4 {
        margin-left: 40px;
        font-size: 30px;
        color: #ab9548;
        text-transform: uppercase;
      }

      p {
        text-align: left;
        padding: 10px 40px 40px 40px;
        line-height: 1.8;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 15px;
      }

      .s-mini {
        object-fit: cover;
        position: absolute;
        width: 80%;
        height: 250px;
        z-index: -1;
      }

      #imgOne {
        top: 10%;
        left: -90%;
      }

      #imgTwo {
        top: 23%;
        left: -90%;
      }

      #imgThree {
        top: 39%;
        left: -90%;
      }
      #imgFour {
        top: 51%;
        left: -90%;
      }
      #imgFive {
        top: 66%;
        left: -90%;
      }
      #imgSix {
        top: 81%;
        left: -90%;
      }
    }
  }
}
