section {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &.sec-6 {
    position: relative;
    color: rgb(252, 252, 252);
    // background: url('./images/23_mini.jpg');
    background: #ab9548;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 250vh;
    display: flex;

    .trigger-6-1 {
      position: absolute;
      top: 0%;
      left: 0;
      width: 200px;
      border-bottom: 3px solid green;
    }

    .box-right {
      top: 10%;
      right: 2%;
      position: fixed;
      border: 3px solid red;
      height: 700px;
      width: 800px;
      -webkit-box-flex: 1;
      flex: 1;
      font-size: 30px;
      background-repeat: no-repeat;

      &.para-6 {
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        position: absolute;

        &#pa-1 {
          top: 0%;
          left: 0%;
          background-image: url('/src/images/birmingham-1.png');
        }
        &:nth-child(2) {
          top: 30%;
          left: 35%;
          background-image: url('/src/images/birmingham-2.png');
        }
        &:nth-child(3) {
          top: 33%;
          left: 0;
          background-image: url('/src/images/birmingham-3.png');
        }
        &:nth-child(4) {
          top: 15%;
          left: 50%;
          background-image: url('/src/images/birmingham-4.png');
        }
        &:nth-child(5) {
          top: 20%;
          left: 64%;
          background-image: url('/src/images/birmingham-5.png');
        }
        &:nth-child(6) {
          top: 9%;
          left: 63%;
        }
        &:nth-child(7) {
          top: 40%;
          left: 45%;
        }
        &:nth-child(8) {
          top: 10%;
          right: 20%;
        }
        &:nth-child(9) {
          top: 15%;
          left: 50%;
        }
        &:nth-child(10) {
          top: 7%;
          left: 55%;
        }
        &:nth-child(11) {
          top: 35%;
          left: 40%;
          background: #ab9548;
          transition: 0.9s all ease-in-out;
        }
        &:nth-child(12) {
          width: 371px;
          top: 17%;
          transition: 1.2s all ease-in-out;
        }
        &:nth-child(13) {
          top: 11%;
          left: 50%;
          transition: 0.9s all ease-in-out;
        }
        &:nth-child(14) {
          top: 29%;
          left: 54%;
          transition: 0.9s all ease-in-out;
        }
        &:nth-child(15) {
          top: 35%;
          left: 40%;
          transition: 0.9s all ease-in-out;
        }
      }
    }

    .box {
      max-width: 675px;
      font-weight: 300;
      top: 0%;
      left: 0%;
      padding: 10px;
      background: #000000bf;
      opacity: 1;
      margin: 0% 4% 0% 4%;
      flex: 1;
      position: absolute;

      h3 {
        padding: 90px 0px 0px 0px;
        margin-left: 40px;
        font-size: 40px;
        color: #ab9548;
        text-transform: uppercase;
      }

      h4 {
        margin-left: 40px;
        font-size: 30px;
        color: #ab9548;
        text-transform: uppercase;
      }

      p {
        text-align: left;
        padding: 10px 40px 40px 40px;
        line-height: 1.8;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 15px;
      }
    }
  }
}
