//! css framework
// @import "../node_modules/bulma/bulma";

//! utilities
@import './styles/utils/mixins'; // global mixins
@import './styles/utils/variables'; // global variables

//! setup
@import './styles/setup/normalize'; // normalize browsers to make more consistent
@import './styles/setup/clearfix'; // clearfix for floats
@import './styles/setup/border-box'; // global border-box setting

//! global styles
@import './styles/global/typography'; // global typography
@import './styles/global/global'; // global styles

//! sections
@import './styles/layout/header';
@import './styles/layout/section1';
@import './styles/layout/section2';
@import './styles/layout/section3';
@import './styles/layout/section4';
@import './styles/layout/section5';
@import './styles/layout/section6';
@import './styles/layout/section7';
@import './styles/layout/section11';
@import './styles/layout/section12';
@import './styles/layout/contact';
@import './styles/layout/section9';
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

p {
  color: white;
}

a {
  text-decoration: none;
}

img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

@media only screen and (max-width: 670px) {
  .icon {
    opacity: 1 !important;
  }

  .head {
    height: 0px;
  }

  .main-header__logo {
    position: relative;
    opacity: 1;
    flex: 1;
    padding: 9px 15px 13px 14px;
  }

  .menu-right {
    z-index: 3;
    line-height: 2;
    opacity: 0;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    text-align: center;
  }

  .navbar {
    background: #ab9548;
    transform: translateX(-673px);
    opacity: 0;
    flex-direction: column;
    transition: 0.5s all ease-in-out;
  }

  .navbar.open {
    z-index: 3;
    transform: translateX(0px);
    padding: 15px 0 15px 0;
    position: fixed;
    top: 0%;
    width: 100%;
    opacity: 1;
    transition: 0.5s all ease-in-out;

    .menu-right {
      opacity: 1;
    }

    & li:hover {
      width: 100%;
      background: rgba(0, 0, 0, 0.6);
      text-align: center;
    }

    & a {
      color: white;
    }

    &span {
      opacity: 1;
      transition: 0.5s all ease-in-out;
      text-align: center;
      width: 100%;
    }
  }
}
